<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bộ đề 1</title>
	<meta name="description"
		content="Website luyện thi TOEIC trực tuyến số 1 tại Việt Nam. Hơn 14000+ câu hỏi, 500+ bộ đề luyện thi TOEIC có đáp án.Truy cập ngay chỉ với 199k/ 1 năm, luyện thi TOEIC online thoải mái không giới hạn tài liệu">
	<meta property="og:title" content="Bộ đề 1" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://www.studytienganh.vn" />

	<link href="/css/style.css?v=1554266457" rel="stylesheet">
	<link href="/css/global.css?v=1554266457" rel="stylesheet">
	<link href="/css/meter.css?v=1554266457" rel="stylesheet">
	<link href="/js/jQueryUI/my.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css?v=1.1" rel="stylesheet">
	<link href="/css/responsive.css?v=1.1" rel="stylesheet">
	<script src="/js/jQuery/jQuery-2.1.4.min.js"></script>
	<link rel="icon" href="/upload/2016/05/logo.ico?v=2"" type=" image/x-icon"/> <!-- jQueryUI -->
	<script src="/js/jQueryUI/jquery-ui.min.js"></script>
	<script src="/js/jQueryUI/jquery.ui.touch-punch.min.js"></script>
	<!-- Pagination -->
	<script src="/js/pagination/jquery.twbsPagination.js"></script>
	<!-- Autokey -->
	<script src="/js/autokey.js"></script>
	<!-- JS -->
	<script src="/js/main.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/comment.js"></script>
	<!-- Global site tag (gtag.js) - Google AdWords: 807852125 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-807852125"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'AW-807852125');
	</script>


</head>

<body>
	<!-- start top -->
	<div class="full-width green-bg menu-top">
		<div class="width">
			<ul class="menu-left">
				<li><i class="fa fa-phone"> </i> 0377.867.319</li>
				<li><i class="fa fa-envelope"> </i> <a href="mailto:info@vietcv.net">toeic123.vn@gmail.com</a></li>
				<li><a href="#"><i class="fa fa-facebook"> </i></a></li>
				<li><a href="#"><i class="fa fa-twitter"> </i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"> </i></a></li>
			</ul>
			<ul class="menu-right">
				<li><a href="/news/3/gioi-thieu-ve-chung-toi">Về chúng tôi</a></li>
				<li><a href="/news/4/gioi-thieu-de-thi-toeic-2016">Cấu trúc đề thi toeic</a></li>
				<li><a href="/news/5/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
				<li><a href="http://www.studyphim.vn" target="_blank">Phim Engsub</a></li>
			</ul>
		</div>
	</div>
	<div class="width logo-bar">
		<ul class="logo-left">
			<li><a class="current" href="/">Trang chủ</a></li>
			<li><a href="/news/36/gioi-thieu-tinh-nang-tren-website-toeic123vn">Giới thiệu về website</a></li>
			<li><a href="/vip-upgrade?utm_source=Homepage&utm_medium=Menu">|&nbsp;&nbsp;<span class="vip">&nbsp; NÂNG
						CẤP VIP &nbsp;</span></a></li>

		</ul>
		<ul class="logo-middle">
			<a href="/"><img src="/img/logo1.png" height="35" /></a>
		</ul>
		<ul class="logo-right">
			<li><a href="/profile" class="">Profile</a></li>
			<li><a href="/logout" class="">Thoát</a></li>
		</ul>
	</div>
	<div class="full-width full-body-spacing">
	</div>
	<!-- end top -->

	<div class="width content-container">
		<!-- left sidebar -->
		<div class="sidebar-left">
			<img src="/upload/2016/08/11524.png" width="95%"
				style="border: 1px solid #ddd;padding: 5px;height:150px;" />
			<h3
				style="font-family: 'UTM Bebas';font-size: 20px;color: #000;margin: 0px;background: #f0f0f0;padding: 1px 2px 3px 12px;">
				Bộ đề 1</h3>
			<div class="back"><a href="/exam/4863"><i class="fa fa-chevron-left" aria-hidden="true"></i> Trở lại</a>
			</div>

		</div>
		<!-- end left sidebar -->
		<!-- content -->
		<div class="content">
			<div class="content-box"
				style="min-height: 500px;border:1px solid rgb(240, 240, 240);padding-top: 20px;box-shadow: 0px 0px 20px 1px rgb(240, 240, 240);margin-bottom:130px;">
				<!--<div class="header">
                    <div class="h3-container">
                        <h3>Thi thử toeic Full - Phần Listening</h3>
                        <span> - Bộ đề 1</span>
                    </div>
                </div>-->
				<form method="POST" class="form qform" id="test" action="/test-submit"><input type="hidden"
						name="id_exam" value="187103" />
						<%var stt=1;let a;%>
					<div id="nopbai-kq"></div>
					<div class="question-body" id="q-14308"><input type="hidden" name="id" value="14308" />
						<div class="question-detail type1">
							<h3>THI THỬ TOEIC </h3>
							<div class="media"><audio id="mc9WCADK" controls src="/upload/2016/08/11510.mp3"
									style="width: 100%" autoplay>
									Your browser does not support the audio element.
								</audio>
							</div>
							<div class="q">Listening TEST
								In the Listening test, you will be asked to demonstrate how well you understand spoken
								English. The
								entire Listening test will last approximately 45 minutes. There are four parts, and
								directions are given
								for each part. You must mark your answers on the separate answer sheet. Do not write
								your answers
								in the test book.

								----------------------------------------GIỚI THIỆU PHẦN THI PART
								1--------------------------------------------

								Directions: For each question in this part, you will hear four statements about a
								picture in your test
								book. When you hear the statements, you must select the one statement that best
								describes what you
								see in the picture. Then find the number of the question on your answer sheet and mark
								your answer.
								The statements will not be printed in your test book and will be spoken only one time.
								Example Sample Answer

								Statement (C). “He is writing in a notebook." is the best description of the picture, so
								you should select
								answer (C) and mark it on your answer sheet.

							</div>
							<div class="row">
								<input class="form-control" type="radio" name="a[0]" value="0"> Tôi đã hiểu nội dung và
								cách làm bài đề thi toeic này</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>


                   <%dethi.PartI.bo_cau_hoi.forEach(function (cauhoi){%>

					
                     <%a="a"+stt;%>
					
					<div class="question-body" id="q-<%=cauhoi.id_cauhoi%>"><input type="hidden" name="id" value="<%=cauhoi.id_cauhoi%>" />
						<div class="question-detail type1">
							<h3>Question <%=stt%></h3>
							<div class="media"><img src=<%=cauhoi.image_src%> width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name=<%=a%> value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name=<%=a%> value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name=<%=a%> value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name=<%=a%> value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<%stt++;%>

					<%}) %>


					<div class="question-body" id="q-12176"><input type="hidden" name="id" value="12176" />
						<div class="question-detail type1">
							<h3>Question 2</h3>
							<div class="media"><img src="/upload/2016/04/2133.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[2]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[2]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[2]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[2]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12177"><input type="hidden" name="id" value="12177" />
						<div class="question-detail type1">
							<h3>Question 3</h3>
							<div class="media"><img src="/upload/2016/04/2136.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[3]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[3]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[3]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[3]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12178"><input type="hidden" name="id" value="12178" />
						<div class="question-detail type1">
							<h3>Question 4</h3>
							<div class="media"><img src="/upload/2016/04/2139.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[4]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[4]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[4]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[4]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12179"><input type="hidden" name="id" value="12179" />
						<div class="question-detail type1">
							<h3>Question 5</h3>
							<div class="media"><img src="/upload/2016/04/2141.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[5]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[5]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[5]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[5]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12180"><input type="hidden" name="id" value="12180" />
						<div class="question-detail type1">
							<h3>Question 6</h3>
							<div class="media"><img src="/upload/2016/04/2143.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[6]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[6]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[6]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[6]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12181"><input type="hidden" name="id" value="12181" />
						<div class="question-detail type1">
							<h3>Question 7</h3>
							<div class="media"><img src="/upload/2016/04/2145.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[7]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[7]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[7]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[7]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12182"><input type="hidden" name="id" value="12182" />
						<div class="question-detail type1">
							<h3>Question 8</h3>
							<div class="media"><img src="/upload/2016/04/2147.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[8]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[8]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[8]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[8]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12183"><input type="hidden" name="id" value="12183" />
						<div class="question-detail type1">
							<h3>Question 9</h3>
							<div class="media"><img src="/upload/2016/04/2149.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[9]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[9]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[9]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[9]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12184"><input type="hidden" name="id" value="12184" />
						<div class="question-detail type1">
							<h3>Question 10</h3>
							<div class="media"><img src="/upload/2016/04/2151.png" width="80%" />
							</div>
							<div class="q"></div>
							<div class="row">
								<input class="form-control" type="radio" name="a[10]" value="0"> (A) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[10]" value="1"> (B) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[10]" value="2"> (C) </div>
							<div class="row">
								<input class="form-control" type="radio" name="a[10]" value="3"> (D) </div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14309"><input type="hidden" name="id" value="14309" />
						<div class="question-detail type1">
							<h3></h3>
							<div class="q">
								<p>----------------------------------------GIỚI THIỆU PHẦN THI PART
									2--------------------------------------------</p>

								<p>Directions You will hear a question or statement and three responses spoken IN
									English. They will be spoken only one time and will not be printed in your test
									book. Select the best response to the question or statement and mark the letter (A),
									(b), or (C) on your answer sheet.</p>

								<p><u><strong>Example</strong></u>:</p>

								<p>You will hear: Sample Answer Where did you buy your tie? You will also hear:</p>

								<p>(A ) Next lime we ll do better.</p>

								<p>(B) At the downtown shopping center.</p>

								<p>(C) i We’ll move to a new building soon</p>

								<p>The best response to the question "Where did you buy your tie?" is choice (B). At the
									downtown shopping center.&#39; so (B) is the correct answer. You should mark answer
									(B) on your answer sheet</p>
							</div>
							<div class="row">
								<input class="form-control" type="radio" name="a[11]" value="0"> Tôi đã hiểu nội dung
								phần thi này</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14305"><input type="hidden" name="id" value="14305" />
						<h3>Question 11</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[12][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[12][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[12][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-146"><input type="hidden" name="id" value="146" />
						<h3>Question 12</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[13][0]" value="0"> (A) </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[13][0]" value="1"> (B) </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[13][0]" value="2"> (C) </div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-339"><input type="hidden" name="id" value="339" />
						<h3>Question 13</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[14][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[14][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[14][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-340"><input type="hidden" name="id" value="340" />
						<h3>Question 14</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[15][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[15][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[15][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-341"><input type="hidden" name="id" value="341" />
						<h3>Question 15</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[16][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[16][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[16][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-342"><input type="hidden" name="id" value="342" />
						<h3>Question 16</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[17][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[17][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[17][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-343"><input type="hidden" name="id" value="343" />
						<h3>Question 17</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[18][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[18][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[18][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-344"><input type="hidden" name="id" value="344" />
						<h3>Question 18</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[19][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[19][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[19][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-345"><input type="hidden" name="id" value="345" />
						<h3>Question 19</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[20][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[20][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[20][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-346"><input type="hidden" name="id" value="346" />
						<h3>Question 20</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[21][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[21][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[21][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-347"><input type="hidden" name="id" value="347" />
						<h3>Question 21</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[22][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[22][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[22][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-348"><input type="hidden" name="id" value="348" />
						<h3>Question 22</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[23][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[23][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[23][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-349"><input type="hidden" name="id" value="349" />
						<h3>Question 23</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[24][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[24][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[24][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-351"><input type="hidden" name="id" value="351" />
						<h3>Question 24</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[25][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[25][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[25][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-350"><input type="hidden" name="id" value="350" />
						<h3>Question 25</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[26][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[26][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[26][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-352"><input type="hidden" name="id" value="352" />
						<h3>Question 26</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[27][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[27][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[27][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-353"><input type="hidden" name="id" value="353" />
						<h3>Question 27</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[28][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[28][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[28][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-354"><input type="hidden" name="id" value="354" />
						<h3>Question 28</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[29][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[29][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[29][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-355"><input type="hidden" name="id" value="355" />
						<h3>Question 29</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[30][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[30][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[30][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-356"><input type="hidden" name="id" value="356" />
						<h3>Question 30</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[31][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[31][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[31][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-357"><input type="hidden" name="id" value="357" />
						<h3>Question 31</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[32][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[32][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[32][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-358"><input type="hidden" name="id" value="358" />
						<h3>Question 32</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[33][0]" value="0"> </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[33][0]" value="1"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[33][0]" value="2"> (B)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-359"><input type="hidden" name="id" value="359" />
						<h3>Question 33</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[34][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[34][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[34][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-360"><input type="hidden" name="id" value="360" />
						<h3>Question 34</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[35][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[35][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[35][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-361"><input type="hidden" name="id" value="361" />
						<h3>Question 35</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[36][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[36][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[36][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-362"><input type="hidden" name="id" value="362" />
						<h3>Question 36</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[37][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[37][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[37][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-363"><input type="hidden" name="id" value="363" />
						<h3>Question 37</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[38][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[38][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[38][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-364"><input type="hidden" name="id" value="364" />
						<h3>Question 38</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[39][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[39][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[39][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-365"><input type="hidden" name="id" value="365" />
						<h3>Question 39</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[40][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[40][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[40][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-366"><input type="hidden" name="id" value="366" />
						<h3>Question 40</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[41][0]" value="0"> (A)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[41][0]" value="1"> (B)</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[41][0]" value="2"> (C)</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14310"><input type="hidden" name="id" value="14310" />
						<div class="question-detail type1">
							<h3></h3>
							<div class="q">
								<p>---------------------------------GIỚI THIỆU PHẦN THI PART
									3------------------------------------</p>

								<p>Directions You will hear some conversations between two people. You will be asked to
									answer three questions about what the speakers say in each conversation. Select the
									best response to each question and mark the letter (A). (B). (C). or (D) on your
									answer sheet. The conversations will be spoken only one time and will not be printed
									in y</p>
							</div>
							<div class="row">
								<input class="form-control" type="radio" name="a[42]" value="0"> Tôi đã hiểu nội dung
								phần thi này</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14306"><input type="hidden" name="id" value="14306" />
						<h3>Question 41-43 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"> Question 41. What would the man like Julie to do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][0]" value="0"> (A) Meet with
									the president </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][0]" value="1"> (B) Change an
									appointment time</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][0]" value="2"> (C) Come to the
									oflice later </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][0]" value="3"> (D) Contact some
									clients</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 42. What will the man do this afternoon? <br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][1]" value="0"> (A) Meet with
									some clients</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][1]" value="1"> (B) Call the
									president&#39;s office </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][1]" value="2"> (C) Go to the
									emergency room </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][1]" value="3"> (D) Relocate his
									office </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 43. What time will Ihe man start hi <br />appointment this
									afternoon?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][2]" value="0"> (A) At 1
									o&#39;clock </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][2]" value="1"> (B) At 2
									o&#39;clock </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][2]" value="2"> (C) At 3
									o&#39;clock</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[43][2]" value="3"> (D) At 4
									o&#39;clock</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-2735"><input type="hidden" name="id" value="2735" />
						<h3>Question 44-46 refer to the following conversation </h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"> Question 44. What kind of company does the man work<br />for?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][0]" value="0"> (A) A delivery
									service company </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][0]" value="1"> (B) An Internet
									provider </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][0]" value="2"> (C) A mobile
									phone company </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][0]" value="3"> (D) An
									accountant&#39;s office </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">45. How does the man explain the change in the woman&#39;s bill?<br />
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][1]" value="0"> (A) The price
									may have risen.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][1]" value="1"> (B) The woman
									has two cell phones.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][1]" value="2"> (C) There was an
									accounting error.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][1]" value="3"> (D) The woman
									may have used her cell phone more than usual.</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">46. What information does the man ask the woman for?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][2]" value="0"> (A) Her invoice
									number</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][2]" value="1"> (B) Her
									telephone number</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][2]" value="2"> (C) Her monthly
									balance</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[44][2]" value="3"> (D) Her
									identification number</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-2891"><input type="hidden" name="id" value="2891" />
						<h3>Question 47-49 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q"> Question 47. What is the celebration for?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][0]" value="0"> (A) The
									promotion of a coworker </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][0]" value="1"> (B) The opening
									of a new oanquet facility </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][0]" value="2"> (C) The
									anniversary of the hotel </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][0]" value="3"> (D) The
									retirement of a colleague </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 48. When will the celebration start?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][1]" value="0"> (A) At 6:00
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][1]" value="1"> (B) At 6:30
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][1]" value="2"> (C) At 7:00
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][1]" value="3"> (D) At 7:30
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 49. Where will the woman go before the party?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][2]" value="0"> (A) To a banquet
									hall </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][2]" value="1"> (B) To a hotel
									lobby </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][2]" value="2"> (C) To a bakery
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[45][2]" value="3"> (D) To a
									supermarket </div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-2975"><input type="hidden" name="id" value="2975" />
						<h3>Question 50-52 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 50. Why is William happy?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][0]" value="0"> (A) He created a
									new painting.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][0]" value="1"> (B) He recently
									won a prize.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][0]" value="2"> (C) He met his
									favorite artist. </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][0]" value="3"> (D) He taught
									his first art workshop.</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 51. What does William hope to do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][1]" value="0"> (A) Take a
									vacation in the fall </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][1]" value="1"> (B) Sign up for
									a workshop </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][1]" value="2"> (C) Attend an
									awards banquet </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][1]" value="3"> (D) Join a group
									of artists </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 52. What is William working on these days?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][2]" value="0"> (A) An oil
									painting </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][2]" value="1"> (B) A workshop
									manual </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][2]" value="2"> (C) A watercolor
									painting </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[46][2]" value="3"> (D) A sculpture
								</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5358"><input type="hidden" name="id" value="5358" />
						<h3>Question 53-55 refer to the following conversation </h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 53. Where is the conversation most likely taking<br />place?
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][0]" value="0"> (A) At a
									shipping company </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][0]" value="1"> (B) At an office
									building </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][0]" value="2"> (C) At an office
									supplies store </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][0]" value="3"> (D) At a library
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 54. What does the assistant offer to do?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][1]" value="0"> (A) Help move
									the supplies </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][1]" value="1"> (B) Phone his
									manager </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][1]" value="2"> (C) Sign the
									form </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][1]" value="3"> (D) Open the
									conference room </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 55. What will be delivered to the conference<br />room?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][2]" value="0"> (A) A bookshelf
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][2]" value="1"> (B) A filing
									cabinet </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][2]" value="2"> (C) OffiCG
									supplies </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[47][2]" value="3"> (D) Meeting
									tables </div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5547"><input type="hidden" name="id" value="5547" />
						<h3>Question 56-58 refer to the following conversation </h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 56. Who most likely is the man?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][0]" value="0"> (A) An
									information desk clerk </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][0]" value="1"> (B) A gift shop
									owner </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][0]" value="2"> (C) A parking
									attendant </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][0]" value="3"> (D) A
									supermarket cashier</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 57. Where is the woman going?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][1]" value="0"> (A) To meet with
									a boutique owner </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][1]" value="1"> (B) To visit an
									art gallery </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][1]" value="2"> (C) To check her
									order </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][1]" value="3"> (D) To walk
									around a shopping mall</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">"Question 58. How does the man suggest lowering the<br />admission
									price?"</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][2]" value="0"> (A) Returning
									another day </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][2]" value="1"> (B) Calling the
									shop owner </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][2]" value="2"> (C) Using a
									discount coupon </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[48][2]" value="3"> (D) Charging her
									the senior&#39;s rate </div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5550"><input type="hidden" name="id" value="5550" />
						<h3>Question 59-61 refer to the following conversation </h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 59. What color monitors are available now?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][0]" value="0"> (A) White </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][0]" value="1"> (B) Silver
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][0]" value="2"> (C) Black </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][0]" value="3"> (D) Red </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 60. How much does it cost to increase the size<br />of the
									monitor?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][1]" value="0"> (A) $ 100 </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][1]" value="1"> (B) $ 170 </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][1]" value="2"> (C) $ 200 </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][1]" value="3"> (D) $ 300 </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 61. When can the man expect to receive his<br />monitor?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][2]" value="0"> (A) In about a
									week </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][2]" value="1"> (B), In about
									two weeks </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][2]" value="2"> (C) In about
									three weeks </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[49][2]" value="3"> (D) In about
									four weeks </div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5566"><input type="hidden" name="id" value="5566" />
						<h3>Question 62-64 refer to the following conversation </h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">62. What problem is the man faced with?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][0]" value="0"> (A) He
									doesn&#39;t know where the HR department is.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][0]" value="1"> (B) He has too
									much work to prepare for the meeting .</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][0]" value="2"> (C) He can&#39;t
									open the garage gate by himself.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][0]" value="3"> (D) He
									wasn&#39;t able to contact the parking attendant.</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">63. When did the woman receive her parking permit?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][1]" value="0"> (A) On Thursday
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][1]" value="1"> (B) On Friday
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][1]" value="2"> (C) On Monday
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][1]" value="3"> (D) On Tuesday
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">64. What does the woman suggest the man do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][2]" value="0"> (A) Find the
									parking attendant</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][2]" value="1"> (B) Park in
									another garage</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][2]" value="2"> (C) Arrive at
									the office early</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[50][2]" value="3"> (D) Contact the
									HR department</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5571"><input type="hidden" name="id" value="5571" />
						<h3>Question 65-67 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">65. Where most likely does this conversation take place?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][0]" value="0"> (A) At a
									shopping mall</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][0]" value="1"> (B) At a hair
									salon</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][0]" value="2"> (C) At a fashion
									boutique</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][0]" value="3"> (D) At an art
									studio</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">66. What would the woman like to do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][1]" value="0"> (A) Meet the
									receptionist</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][1]" value="1"> (A) Meet the
									receptionist</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][1]" value="2"> (C) Find a new
									hair stylist</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][1]" value="3"> (D) Change her
									hair color</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">67. Why did the man visit New York?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][2]" value="0"> (A) To see the
									sights</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][2]" value="1"> (B) To learn
									about fashion</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][2]" value="2"> (C) To buy hair
									products</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[51][2]" value="3"> (D) To attend a
									training seminar</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-5576"><input type="hidden" name="id" value="5576" />
						<h3>Question 68-70 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 68. What is the man&#39;s problem?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][0]" value="0"> (A) He forgot
									his new password. </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][0]" value="1"> (B) He left his
									ID card in the HR department </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][0]" value="2"> (C) He can&#39;t
									access his messages. </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][0]" value="3"> (D) His phone
									lines have been down all afternoon</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 69. Where will the man probably go next?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][1]" value="0"> (A) To the HR
									department </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][1]" value="1"> (B) To technical
									services </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][1]" value="2"> (C) To the
									reception desk </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][1]" value="3"> (D) To the mail
									room</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 70. Where is the technical support staff office<br />located?
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][2]" value="0"> (A) Beside the
									reception desk </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][2]" value="1"> (B) Next to the
									elevators </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][2]" value="2"> (C) Across from
									the mail room </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[52][2]" value="3"> (D) Near the HR
									department</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14311"><input type="hidden" name="id" value="14311" />
						<div class="question-detail type1">
							<h3></h3>
							<div class="q">
								<p>---------------------------------GIỚI THIỆU PHẦN THI PART
									4----------------------------------</p>

								<p>Directions. You will hear some short talks given by a single speaker. You will be
									asked to answer three questions about what the speaker says in each short talk.
									Select the best response to each question and mark the letter (A), (B), (C). or (D)
									on your answer sheet. The talks will be spoken only one time and will not be printed
									in your test book</p>
							</div>
							<div class="row">
								<input class="form-control" type="radio" name="a[53]" value="0"> Tôi đã hiểu nội dung
								phần thi này</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-14307"><input type="hidden" name="id" value="14307" />
						<h3>Question 71-73 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 71. What is the reason for the call?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][0]" value="0"> (A) To get Mr.
									Clifford&#39;s contact information</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][0]" value="1"> (B) To set up an
									installation date</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][0]" value="2"> (C) To discuss
									available Internet packages </div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][0]" value="3"> (D) To receive
									payment for a service </div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">72. What is Mr. Clifford asked to do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][1]" value="0"> (A) Send an
									e-mail</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][1]" value="1"> (B) Call the
									company</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][1]" value="2"> (C) Drop by the
									office</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][1]" value="3"> (D) Register for
									services</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">73. When does Katie expect to hear from Mr. Clifford?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][2]" value="0"> (A) On Monday,
									between 8 and 6 o&#39;clock</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][2]" value="1"> (B) As soon as
									possible</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][2]" value="2"> (C) Before the
									installation date</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[54][2]" value="3"> (D) After the
									payment due date</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12274"><input type="hidden" name="id" value="12274" />
						<h3>Question 74-76 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 74. Who most likely is the speaker?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][0]" value="0"> (A) A
									construction crew member</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][0]" value="1"> (B) A steel
									engineer</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][0]" value="2"> (C) A plant
									supervisor</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][0]" value="3"> (D) A
									company&#39;s director</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 75. How many staff will the company employ when it opens?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][1]" value="0"> (A) 50</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][1]" value="1"> (B) 75</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][1]" value="2"> (C) 100</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][1]" value="3"> (D) 125</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 76. Where was the first facility?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][2]" value="0"> (A) Milton</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][2]" value="1"> (B) Portland
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][2]" value="2"> (C) St. Louis
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[55][2]" value="3"> (D) Rochester
								</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12275"><input type="hidden" name="id" value="12275" />
						<h3>Question 77-79 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 77. Where most likely are the visitors?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][0]" value="0"> (A) A
									semi-conductor plant</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][0]" value="1"> (B) A famous
									museum</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][0]" value="2"> (C) A large
									bakery&#39;s facilities</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][0]" value="3"> (D) A
									supermarket</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 78. What will happen at 2:00?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][1]" value="0"> (A) The visitors
									will ask questions.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][1]" value="1"> (B) The guided
									pad of the tour will end.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][1]" value="2"> (C) The tasting
									rooms will close</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][1]" value="3"> (D) The visitors
									can take photographs.</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 79. How long will the visitors be on their own?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][2]" value="0"> (A) 30 minutes
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][2]" value="1"> (B) One hour
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][2]" value="2"> (C) Two hours
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[56][2]" value="3"> (D) Three hours
								</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12276"><input type="hidden" name="id" value="12276" />
						<h3>Question 80-82 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 80. What kind of business is the message for?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][0]" value="0"> (A) A political
									candidate’s office</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][0]" value="1"> (B) A university
									registrar’s office</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][0]" value="2"> (C) City Hall in
									Washington. D.C.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][0]" value="3"> (D) A university
									library</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 81. What time does the facility close on Fridays?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][1]" value="0"> (A) 2 p.m.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][1]" value="1"> (B) 13 p.m.
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][1]" value="2"> (C) 4 p.m</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][1]" value="3"> (D) 5 p.m</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 82. How can a caller speak with Edward<br />Phillips?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][2]" value="0"> (A) By accessing
									the list of faculty members</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][2]" value="1"> (B) By speaking
									with the reception staff</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][2]" value="2"> (C) By dialing
									extension 15</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[57][2]" value="3"> (D) By visiting
									the library during regular hours</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12277"><input type="hidden" name="id" value="12277" />
						<h3>Question 83-85 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 83. What is being to advertised?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][0]" value="0"> (A) A trip to
									France</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][0]" value="1"> (B) A restaurant
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][0]" value="2"> (C) A hotel
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][0]" value="3"> (D) A food
									market</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 84. What is provided for dessert?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][1]" value="0"> (A) Fruit juice
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][1]" value="1"> (B) Fresh fish
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][1]" value="2"> (C) Pastries
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][1]" value="3"> (D) A glass of
									wine</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 85. What does the speaker say about Chateau<br />Francois?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][2]" value="0"> (A) The chef is
									world-renowned</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][2]" value="1"> (B) It is open
									on weekends.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][2]" value="2"> (C) The view
									from the deck is impressive</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[58][2]" value="3"> (D) The lunch
									specials are inexpensive.</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12278"><input type="hidden" name="id" value="12278" />
						<h3>Question 86-88 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 86. What is the announcement about?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][0]" value="0"> (A) Employment
									opportunities with human resources</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][0]" value="1"> (B) Information
									regarding interior decorating</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][0]" value="2"> (C) Changes in
									the meeting schedules</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][0]" value="3"> (D) Preparations
									for the board meeting</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 87. How can employees find out the location of<br />their new
									offices?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][1]" value="0"> (A) By phoning
									the human resources department</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][1]" value="1"> (B) By speaking
									to their manager</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][1]" value="2"> (C) By visiting
									the lobby of the building</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][1]" value="3"> (D) By
									contacting Newport Painters</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 88. What are staff asked to do on Monday<br />before they leave?
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][2]" value="0"> (A) Clean up
									their workspace</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][2]" value="1"> (B) Turn off
									their computers</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][2]" value="2"> (C) Contact the
									human resources department</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[59][2]" value="3"> (D) Put away
									confidential files</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12279"><input type="hidden" name="id" value="12279" />
						<h3>Question 89-91 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 89. What is the purpose of this announcement?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][0]" value="0"> (A) To tell
									about special offers</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][0]" value="1"> (B) To inform of
									a change in the store policy</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][0]" value="2"> (C) To announce
									the store&#39;s hours</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][0]" value="3"> (D To introduce
									sales associates</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 90. What is Ms. Williams&#39; position?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][1]" value="0"> (A) Store
									manager</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][1]" value="1"> (B) Computer
									programmer</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][1]" value="2"> (C) Radio
									announcer</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][1]" value="3"> (D) Restaurant
									staff</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 91. What can customers receive at no cost as they leave</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][2]" value="0"> (A) A fax
									machine</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][2]" value="1"> (B) Computer
									paper</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][2]" value="2"> (C) A store
									catalogue</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[60][2]" value="3"> (D) A preferred
									customer card</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12280"><input type="hidden" name="id" value="12280" />
						<h3>Question 92-94 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">92. When will the new system start?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][0]" value="0"> (A) This
									afternoon</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][0]" value="1"> (B) In two weeks
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][0]" value="2"> (C) At the end
									of the month</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][0]" value="3"> (D) Next month
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">93. What does the speaker say is the benefit to the change?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][1]" value="0"> (A) More
									efficient communication</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][1]" value="1"> (B) Prevent the
									loss of files</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][1]" value="2"> (C) Better
									secure important data</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][1]" value="3"> (D) Allow staff
									to work less hours</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">94. What does the speaker ask staff to do?</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][2]" value="0"> (A) Obtain a new
									ID card</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][2]" value="1"> (B) E-mail group
									files</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][2]" value="2"> (C) Copy
									existing files</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[61][2]" value="3"> (D) Rewrite
									files on the new server</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12281"><input type="hidden" name="id" value="12281" />
						<h3>Question 95-97 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 95.How long will the conference run?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][0]" value="0"> (A) A day</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][0]" value="1"> (B) Three days
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][0]" value="2"> (C) A week</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][0]" value="3"> (D) Three weeks
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 96.What is the main subject of the conference?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][1]" value="0"> (A) Management
									techniques</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][1]" value="1"> (B)
									Organizational behavior</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][1]" value="2"> (C)
									Tele-conferencing</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][1]" value="3"> (D) Accounting
								</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 97. What must conference participants do following the lectures?
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][2]" value="0"> (A) Raise
									questions on the lectures they ve heard</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][2]" value="1"> (B) Post their
									responses on the conference website</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][2]" value="2"> (C) Meet with
									their colleagues</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[62][2]" value="3"> (D) Submit a
									paper to Francis Lee</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
					<div class="question-body" id="q-12282"><input type="hidden" name="id" value="12282" />
						<h3>Question 98-100 refer to the following conversation</h3>
						<div class="multi-question type6">
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 98. What’s the purpose of this meeting?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][0]" value="0"> (A) To introduce
									a new manager</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][0]" value="1"> (B) To announce
									a new security system</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][0]" value="2"> (C) To develop a
									new computer network</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][0]" value="3"> (D) To address
									the issue of employee productivity</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 99. Where will this new policy be enforced?<br /></div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][1]" value="0"> (A) Across the
									country</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][1]" value="1"> (B) Across the
									city</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][1]" value="2"> (C) Within the
									IT department</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][1]" value="3"> (D) Within the
									building</div>
							</div>
							<div class="question-detail type1">
								<h3></h3>
								<div class="q">Question 100. What changes have been made to the<br />computer system?
								</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][2]" value="0"> (A) Employees
									must now use a password.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][2]" value="1"> (B) Employees
									must now record their hours.</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][2]" value="2"> (C) Employees
									must now use only their own computer</div>
								<div class="row">
									<input class="form-control" type="radio" name="a[63][2]" value="3"> (D) Employees
									must speak to their manager before using the computer.</div>
							</div>
						</div>
						<div class="result-box-tmp"></div>
					</div>
				<div class="row align-right question-body" id="nopbai-button">
						<div onclick="send()" class="next-question" style="text-align:center;padding:10px;margin-right: 0px;">Nộp bài</div>
					</div>
				</form>
				<script>
					function send() {
						var formData = $("#test").serialize();
						console.log(formData);

						// process the form

						// ajax như là một req gửi đến server

						var base_url = location.protocol + "//" + document.domain + ":" + location.port;
						$.ajax({
							type: "POST",
							url: "/dethi/submit",
							data: formData,
							dataType: "JSON",
							success: function (data) {

								console.log(data.q_list);
								
								$('#nopbai-button').html('');// khi nộp bài là nút button biến mất.
								$('#nopbai-kq').html(data.txt);// alter form hiển thị trên đầu.
								// data.q_list.forEach(function (item) {
								// 	//console.log(item);
								// 	if (item.result == 1) {
								// 		$('#test').find('.question-body#q-' + item.q_id + ' .result-box-tmp').html('<h3><i class="fa fa-check green"></i> Xin chúc mừng bạn đã trả lời đúng!</h3><p>' + $("<textarea/>").html(item.explain).val() + '</p>');
								// 		$('#test').find('.question-body#q-' + item.q_id + ' .result-box-tmp').addClass('result-box result-correct');
								// 	} else {
								// 		$('#test').find('.question-body#q-' + item.q_id + ' .result-box-tmp').html('<h3><i class="fa fa-close red"></i> Rất tiếc bạn đã trả lời sai!</h3><p>' + $("<textarea/>").html(item.explain).val() + '</p>');
								// 		$('#test').find('.question-body#q-' + item.q_id + ' .result-box-tmp').addClass('result-box result-incorrect');
								// 	}

								// 	// cuộn ngay đến vị trí sai.
								// 	
								// });
								data.q_list.map(x=>{
									if (x.result == 1) {
										$('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-check green"></i> Xin chúc mừng bạn đã trả lời đúng!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
										$('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-correct');
									} else {
										$('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-close red"></i> Rất tiếc bạn đã trả lời sai!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
										$('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-incorrect');
									}
									$(document).scrollTop($("#test").offset().top);
								})


							}
						});

					}

					

				</script>
			</div>
		</div>
		<!-- end content -->
		<!-- right sidebar -->
		<div class="sidebar-right">
			<div class="links">
				<div class="selected"><a href="/exam/4863"><img src="/img/tuvung/link.png">
						<div class="right">Bài học <div class="meter"><span style="width: 0%"></span></div>
						</div>
					</a>
				</div>
			</div>
			<!--<a href="/" target="_blank"><img src="/img/left-sidebar.png" style="height:500px;cursor: pointer;"></a>-->
		</div>