<%include ../template/header%>

<body>
    <div id="page-container">
        <header data-sticky data-class-name="bg-blue" class="clearfix header1">
            <div class="content">
                <div class="logo">
                    <a href="/?r=nav" title="Gia sư TOEIC">
                        <img src="/static/RealEdu/images/logo.png" alt="Gia sư TOEIC Logo">
                    </a>
                </div>
                <div class="logo-text">
                    <a href="/?r=nav" title="Luyện thi TOEIC Online">
                        <img src="/static/RealEdu/images/logo_text_nhu_co_giasu.png" alt="Luyện thi TOEIC Online">
                    </a>
                </div>
                <div class="header__menu header__menu--desktop">
                    <div data-sub-menu class="header__menu__left">
                        <ul class="list-menu">
                            <li class="list-menu__item menu-in-li">
                                <div data-btn-submenu-user class="user-block user-avatar">
                                    <img src="/static/RealEdu/images/user_icon.png
								" alt="User icon" class="icon-user">
                                    <p class="name-user"><%=data.first_name%></p>
                                    <img src="/static/RealEdu/images/show_menu_icon.png" alt="Menu icon"
                                        class="icon-show">
                                </div>
                                <ul data-sub-menu-user class="list-menu submenu">
                                    <li class="list-menu__item">
                                        <a href="/user/quetoi/?r=nav" title="Thiết lập tài khoản">
                                            <figure><img src="/static/RealEdu/images/profile_page_icon.png"
                                                    alt="Thiết lập tài khoản"></figure>
                                            <span>Thiết lập tài khoản</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/notes/?r=nav" title="Ghi chú của tôi">
                                            <figure><img src="/static/RealEdu/images/learning_notes_icon.png"
                                                    alt="Những ghi chú của tôi"></figure>
                                            <span>Ghi chú của tôi</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item learning-guide">
                                        <a href="/huong-dan/cach-hoc-tren-gia-su-toeic/?r=account"
                                            title="Hướng dẫn cách học">
                                            <figure><img src="/static/RealEdu/images/learning_guide_icon.png"
                                                    alt="Hướng dẫn cách học"></figure>
                                            <span>Hướng dẫn cách học</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/pay/?r=account" title="Hướng dẫn thanh toán">
                                            <figure><img src="/static/RealEdu/images/payment_guide.png"
                                                    alt="Hướng dẫn thanh toán"></figure>
                                            <span>Hướng dẫn thanh toán</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/affiliate/?r=nav" title="Giới thiệu cho GSToeic">
                                            <figure><img src="/static/RealEdu/images/refer_gst_icon.png"
                                                    alt="Giới thiệu cho GSToeic"></figure>
                                            <span>Giới thiệu cho GSToeic</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/contact/?r=account" title="Gửi góp ý">
                                            <figure><img src="/static/RealEdu/images/feedback_icon.png" alt="Gửi góp ý">
                                            </figure>
                                            <span>Gửi góp ý</span>
                                        </a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/logout" title="Thoát">
                                            <figure><img src="/static/RealEdu/images/logout_icon.png" alt="Thoát">
                                            </figure>
                                            <span>Thoát</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li style="padding:0;" class="list-menu__item ">
                                <div data-btn-submenu-user class="user-block" style="display: block;">
                                    <a href="/dashboard/?r=nav" class="name-user submit-btn oval-btn">
                                        Góc học tập theo lộ trình
                                    </a>
                                </div>
                            </li>
                            <li style="padding: 0;">
                                <div data-btn-submenu-user class="user-block" style="display: block;">
                                    <div class="name-user submit-btn oval-btn">
                                        Học tùy thích
                                        <img style="float: none; margin-top: 0"
                                            src="/static/RealEdu/images/show_menu_icon.png" alt="Menu icon"
                                            class="icon-show">
                                    </div>
                                </div>
                                <ul data-sub-menu-user class="submenu learn-freely">
                                    <li class="list-menu__item">
                                        <a href="/de-thi-toeic/?r=nav#secdeluyentap" title="Đề luyện tập">
                                            <span>Đề luyện tập</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/de-thi-toeic/?r=nav#secdethitoeic" title="Đề thi thử">
                                            <span>Đề thi thử</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/de-thi-toeic/?r=nav#detoeic_rutgon" title="Đề thi rút gọn">
                                            <span>Đề thi rút gọn</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/ngu-phap-tieng-anh/?r=nav" title="Ngữ pháp PRO">
                                            <span>Ngữ pháp PRO</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/tu-vung-tieng-anh/toeic-pro/?r=nav" title="Từ vựng TOEIC PRO">
                                            <span>Từ vựng PRO</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/600-tu-vung-toeic/?r=nav" title="600 Từ vựng TOEIC">
                                            <span>600 Từ TOEIC</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/luyen-nghe-toeic/?r=nav" title="Game luyện nghe">
                                            <span>Game luyện nghe</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/phan-tich-de-thi-toeic/?r=nav" title="Chiến lược làm bài">
                                            <span>Chiến lược làm bài</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/meo-thi-toeic/?r=nav" title="Mẹo làm bài">
                                            <span>Mẹo làm bài</span></a>
                                    </li>
                                    <li class="list-menu__item">
                                        <a href="/questions/?r=nav" title="Đặt câu hỏi">
                                            <span>Đặt câu hỏi</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li style="padding:0;" class="list-menu__item">
                                <div data-btn-submenu-user class="user-block" style="display: block;">
                                    <a href="/huong-dan/?r=nav" title="Hướng dẫn" class="name-user submit-btn oval-btn">
                                        Hướng dẫn
                                    </a>
                                </div>
                            </li>
                            <li class="list-menu__item hotline">
                                <span class="glyphicon glyphicon-earphone"></span> &nbsp;
                                0916 92 1419
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu__right">
                        <div data-btn-submenu-user class="user-block">
                            <img src="/static/RealEdu/images/user_icon.png" alt="User icon" class="icon-user">
                            <p class="name-user"><%=data.first_name%></p>
                            <img src="/static/RealEdu/images/show_menu_icon.png" alt="Menu icon" class="icon-show">
                        </div>
                        <ul data-sub-menu-user class="list-menu submenu">
                            <li class="list-menu__item">
                                <a href="/user/quetoi/?r=nav" title="Thiết lập tài khoản">
                                    <figure><img src="/static/RealEdu/images/profile_page_icon.png"
                                            alt="Thiết lập tài khoản"></figure>
                                    <span>Thiết lập tài khoản</span>
                                </a>
                            </li>
                            <li class="list-menu__item">
                                <a href="/notes/?r=nav" title="Ghi chú của tôi">
                                    <figure><img src="/static/RealEdu/images/learning_notes_icon.png"
                                            alt="Những ghi chú của tôi"></figure>
                                    <span>Ghi chú của tôi</span>
                                </a>
                            </li>
                            <li class="list-menu__item learning-guide">
                                <a href="/huong-dan/cach-hoc-tren-gia-su-toeic/?r=account" title="Hướng dẫn cách học">
                                    <figure><img src="/static/RealEdu/images/learning_guide_icon.png"
                                            alt="Hướng dẫn cách học"></figure>
                                    <span>Hướng dẫn cách học</span>
                                </a>
                            </li>
                            <li class="list-menu__item">
                                <a href="/pay/?r=account" title="Hướng dẫn thanh toán">
                                    <figure><img src="/static/RealEdu/images/payment_guide.png"
                                            alt="Hướng dẫn thanh toán"></figure>
                                    <span>Hướng dẫn thanh toán</span>
                                </a>
                            </li>
                            <li class="list-menu__item">
                                <a href="/affiliate/?r=nav" title="Giới thiệu cho GSToeic">
                                    <figure><img src="/static/RealEdu/images/refer_gst_icon.png"
                                            alt="Giới thiệu cho GSToeic"></figure>
                                    <span>Giới thiệu cho GSToeic</span>
                                </a>
                            </li>
                            <li class="list-menu__item">
                                <a href="/contact/?r=account" title="Gửi góp ý">
                                    <figure><img src="/static/RealEdu/images/feedback_icon.png" alt="Gửi góp ý">
                                    </figure>
                                    <span>Gửi góp ý</span>
                                </a>
                            </li>
                            <li class="list-menu__item logout-menu">
                                <a href="/logout" title="Thoát">
                                    <figure><img src="/static/RealEdu/images/logout_icon.png" alt="Thoát"></figure>
                                    <span>Thoát</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list-menu list-menu--mobile">
                            <li class="list-menu__item">
                                <a href="/dashboard/?r=nav" title="goc hoc tap">GÓC HỌC TẬP</a>
                            </li>
                        </ul>
                        <button type="button" data-btn-submenu class="btn-menu">
                            <img src="/static/RealEdu/images/icon_menu_closed.png" alt="menu closed" data-submenu-close>
                            <img src="/static/RealEdu/images/icon_menu_open.png" alt="menu opened"
                                data-submenu-open></button>
                    </div>
                </div>
            </div>
        </header>
        <article class="playfield " id="">
            <nav class="article-nav-wrapper">
            </nav>
            <div class="test-playfield">
                <section class='set-target-session'>
                    <h1 class="blue-color">Cập nhật Điểm mục tiêu của bạn</h1>
                    <div class="text-center" style="margin: 30px auto;">
                        <h3>Cột mốc hiện nay của bạn: <%=data.entry_score%></h3>
                        <h3>Điểm mục tiêu hiện nay của bạn: <%=data.target_score%></h3>
                    </div>
                    <form id='set-goal-form' method="post" action="/dashboard/capnhatmuctieu/<%=data._id%>"><input type='hidden' name='csrfmiddlewaretoken'
                            value='ObHMMwC1tX9ZnL4LahqV4rPouleca1Hc' />
                        <div class="text-center">
                            <h1 class="blue-color" >Đặt Điểm TOEIC mục tiêu mới</h1>
                            <h3 class=" bold">(Tối thiểu: <%=data.entry_score%>. Tối đa: 990)</h3>

                            <% if(data && error){%>
    
    
    
                                <div id="login-alert" class="alert alert-danger col-sm-12">
                                    <%=error%>
                                </div>
            
                                <%}%>
                                <input type='text' name='target_score' id='target-score-input'
                                    class="score-input circle" required maxlength="3" />
                        </div>
                        <button class="submit-btn oval-btn set-target-btn"
                            title="Kích để cập nhật điểm mục tiêu của bạn">
                            Cập nhật điểm mục tiêu
                        </button>
                    </form>
                </section>
            </div>
            <button type="button" class="button-scrollTop">
                <span data-scroll-top class="icon icon-bt_up"></span>
            </button>
            <a href="javascript:;" title="go to top" class="go-top" id="top"></a>
        </article>
     <%include ../template/footer%>