<%include ../../template/header_dethi%>

<body>
    <!-- start top -->
    <header data-sticky data-class-name="bg-blue" class="clearfix header1">
        <div class="content">
            <div class="logo">
                <a href="https://giasutoeic.com/?r=nav" title="Gia sư TOEIC">
                    <img src="/static/RealEdu/images/logo.png" alt="Gia sư TOEIC Logo">
                </a>
            </div>
            <div class="logo-text">
                <a href="https://giasutoeic.com/?r=nav" title="Luyện thi TOEIC Online">
                    <img src="/static/RealEdu/images/logo_text_nhu_co_giasu.png" alt="Luyện thi TOEIC Online">
                </a>
            </div>
            <div class="header__menu header__menu--desktop">
                <div data-sub-menu class="header__menu__left">
                    <ul class="list-menu">
                        <li style="padding:0; display: block;" class="list-menu__item">
                            <div data-btn-submenu-user class="user-block" style="display: block;">
                                <a href="https://giasutoeic.com/de-thi-toeic/?r=nav" title="Đề thi TOEIC"
                                    class="name-user submit-btn oval-btn">
                                    Đề thi TOEIC
                                </a>
                            </div>
                        </li>
                        <li style="padding:0;" class="list-menu__item">
                            <div data-btn-submenu-user class="user-block" style="display: block;">
                                <a href="https://giasutoeic.com/ngu-phap-tieng-anh/?r=nav" title="Ngữ pháp"
                                    class="name-user submit-btn oval-btn">
                                    Ngữ pháp
                                </a>
                            </div>
                        </li>
                        <li style="padding:0;" class="list-menu__item">
                            <div data-btn-submenu-user class="user-block" style="display: block;">
                                <a href="https://giasutoeic.com/600-tu-vung-toeic/?r=nav" title="Từ vựng"
                                    class="name-user submit-btn oval-btn">
                                    600 Từ TOEIC
                                </a>
                            </div>
                        </li>
                        <li style="padding:0;" class="list-menu__item">
                            <div data-btn-submenu-user class="user-block" style="display: block;">
                                <a href="https://giasutoeic.com/meo-thi-toeic/?r=nav" title="Mẹo thi"
                                    class="name-user submit-btn oval-btn">
                                    Mẹo thi
                                </a>
                            </div>
                        </li>
                        <li style="padding:0;" class="list-menu__item">
                            <div data-btn-submenu-user class="user-block" style="display: block;">
                                <a href="https://giasutoeic.com/huong-dan/?r=nav" title="Hướng dẫn"
                                    class="name-user submit-btn oval-btn">
                                    Hướng dẫn
                                </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- end top -->

    <div class="width content-container">
        <!-- left sidebar -->
        <div class="sidebar-left">
            <img src="/upload/2016/08/11524.png" width="95%"
                style="border: 1px solid #ddd;padding: 5px;height:150px;" />
            <h3
                style="font-family: 'UTM Bebas';font-size: 20px;color: #000;margin: 0px;background: #f0f0f0;padding: 1px 2px 3px 12px;">
                Bộ đề 1</h3>
            <div class="back"><a href="/exam/4863"><i class="fa fa-chevron-left" aria-hidden="true"></i> Trở lại</a>
            </div>

        </div>
        <!-- end left sidebar -->
        <!-- content -->
        <div class="content">
            <div class="content-box"
                style="min-height: 500px;border:1px solid rgb(240, 240, 240);padding-top: 20px;box-shadow: 0px 0px 20px 1px rgb(240, 240, 240);margin-bottom:130px;">

                <form method="POST" class="form qform" id="test" action="/test-submit"><input type="hidden"
                        name="id_exam" value="187103" />
                    <%var stt=1;let a;%>
                    <div id="nopbai-kq"></div>
                    <div class="question-body" id="q-14308"><input type="hidden" name="id" value="14308" />
                        <div class="question-detail type1">
                            <div class="media"><audio id="mc9WCADK" controls src="/upload/2016/08/11510.mp3"
                                    style="width: 100%" autoplay>
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                            <div class="q">Listening TEST
                                In the Listening test, you will be asked to demonstrate how well you understand spoken
                                English. The
                                entire Listening test will last approximately 45 minutes. There are four parts, and
                                directions are given
                                for each part. You must mark your answers on the separate answer sheet. Do not write
                                your answers
                                in the test book.

                                ----------------------------------------GIỚI THIỆU PHẦN THI PART
                                1--------------------------------------------

                                Directions: For each question in this part, you will hear four statements about a
                                picture in your test
                                book. When you hear the statements, you must select the one statement that best
                                describes what you
                                see in the picture. Then find the number of the question on your answer sheet and mark
                                your answer.
                                The statements will not be printed in your test book and will be spoken only one time.
                                Example Sample Answer

                                Statement (C). “He is writing in a notebook." is the best description of the picture, so
                                you should select
                                answer (C) and mark it on your answer sheet.

                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="" id="" value="checkedValue"
                                            checked>
                                        Tôi đã hiểu nội dung và cách làm bài đề thi toeic này
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>


                    <%dethi.PartI.bo_cau_hoi.forEach(function (cauhoi){%>


                    <%a="a"+stt;%>

                    <div class="question-body" id="q-<%=cauhoi.id_cauhoi%>"><input type="hidden" name="id"
                            value="<%=cauhoi.id_cauhoi%>" />
                        <div class="question-detail type1">
                            <h3>Question <%=stt%></h3>
                            <div class="media"><img src=<%=cauhoi.image_src%> width="80%" />
                            </div>
                            <div class="q"></div>

                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name=<%=a%> value="0">
                                        (A)
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name=<%=a%> value="1">
                                        (B)
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name=<%=a%> value="2">
                                        (C)
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name=<%=a%> value="3">
                                        (D)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="result-box-tmp"></div>
                    </div>
                    <%stt++;%>

                    <%}) %>



                    <div class="row align-right question-body" id="nopbai-button">
                        <div onclick="send()" class="next-question"
                            style="text-align:center;padding:10px;margin-right: 0px;">Nộp bài</div>
                    </div>
                </form>
                <script>
                    function send() {
                        var formData = $("#test").serialize();
                        // process the form

                        // ajax như là một req gửi đến server

                        var base_url = location.protocol + "//" + document.domain + ":" + location.port;
                        $.ajax({
                            type: "POST",
                            url: "/dethi/submit",
                            data: formData,
                            dataType: "JSON",
                            success: function (data) {

                                console.log(data.q_list);

                                $('#nopbai-button').html('');// khi nộp bài là nút button biến mất.
                                $('#nopbai-kq').html(data.txt);// alter form hiển thị trên đầu.

                                data.q_list.map(x => {
                                    if (x.result == 1) {
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-check green"></i> Xin chúc mừng bạn đã trả lời đúng!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-correct');
                                    } else {
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').html('<h3><i class="fa fa-close red"></i> Rất tiếc bạn đã trả lời sai!</h3><p>' + $("<textarea/>").html(x.explain).val() + '</p>');
                                        $('#test').find('.question-body#q-' + x.iq_id + ' .result-box-tmp').addClass('result-box result-incorrect');
                                    }
                                    $(document).scrollTop($("#test").offset().top);
                                })


                            }
                        });

                    }



                </script>
            </div>
        </div>
        
        
    </div>

    <%include ../../template/footer%>